.cart {
  height: 20px;
  background-color: #2375cd;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}
.cart div {
  display: flex;
  align-items: center;
}

.number {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  color: #2375cd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

@media (max-width: 810px) {
  .cart {
    position: fixed;
    bottom: 20px;
    left: 5px;
    width: 90vw;
    height: 10px;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .cart {
    position: fixed;
    z-index: 2;
    bottom: 20px;
    left: 5px;
    width: 87vw;
    height: 10px;
    justify-content: space-between;
  }
}

.text {
  margin: 0 10px;
}
