.closeModalBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  padding: 7px;
  font-size: 25px;
  font-weight: 600;
  width: 40px;
  height: 50px;
  background-color: black;
  cursor: pointer;
}

.closeModalBtn:hover{
  background-color: black;
}

@media (max-width: 700px) {
  .closeModalBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
}
