html {
  scroll-behavior: smooth;
}

.main {
  background-color: rgb(247, 247, 247);
  padding: 10px;
  padding-top: 40px;
  position: relative;
  min-height: 60vh;
}

.ul {
  list-style-type: none;
  display: flex;
}

.li {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: gainsboro;
  border-radius: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.li:hover {
  color: red;
}

/*MODAL STYLING*/

.Modal {
  width: 35%;
  height: fit-content;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.info {
  padding: 20px;
}

.container {
  position: relative;
  border-radius: 10px;
}
.imgModal {
  width: 100%;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.orderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 200, 203);
  padding: 20px;
  border-radius: 7px;
  width: 20%;
  height: 20px;
  font-weight: 500;
  font-size: 21px;
  color: #2375cd;
}

.quantity p {
  margin: 0;
  text-align: center;
}

.heroSection {
  position: relative;
  height: 400px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7; 
  margin-bottom: 100px;
}

.heroContent {
  max-width: 600px;
  padding: 20px;
}

.heroContent h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.heroContent p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.heroImage {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.totalAmount {
  display: flex;
  width: 60%;
  background-color: #2375cd;
  color: white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  height: 20px;
  margin-left: 10px;
}

.totalAmount p {
  margin: 0 5px;
}

.welcomeModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: fit-content;
  text-align: center;
  z-index: 9999;
}

.welcomeModal h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}

.welcomeModal p {
  font-size: 16px;
  margin-bottom: 20px;
}

.welcomeModal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.welcomeModal button:hover {
  background-color: #0056b3;
}
@media (max-width: 1010px) {
  .Modal {
    width: 70%;
    height: 410px;
  }
  .imgModal {
    height: 200px;
  }

  .info {
    display: flex;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .welcomeModal {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .Modal {
    height: fit-content;
  }
  .orderBox {
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0;
  }

  .quantity {
    margin-bottom: 10px;
    width: 50%;
    margin-left: 0;
  }
  .totalAmount {
    width: 80%;
    justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .Modal {
    font-size: 14px;
  }
  .totalAmount {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .info h2 {
    width: 99%;
  }
  .imgModal {
    height: 200px;
  }
}
