.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100vw;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.li {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 30px;
  text-align: center;
  width: 100px;
  background-color: gainsboro;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.li:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
}

.headings img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
}

.authButtons {
  display: flex;
  align-items: center;
  border: 4px solid #2375cd;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.authButtons button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  width: 100px;
  color: #fff;
  background-color: #2375cd;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.authButtons button:hover {
  background-color: #0056b3;
}

.profileButton {
  position: relative;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  background-color: white;
}

.dropdown {
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: none;
}

.dropdown li {
  list-style: none;
  width: 150px;
}

.dropdown a,
.dropdown button {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
}

.dropdown a:hover,
.dropdown button:hover {
  background-color: #f3f3f3;
}

.profileButton:hover .dropdown {
  display: block;
}

.Modal {
  width: 35%;
  height: fit-content;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuToggle{
  display: none;
}

@media (max-width: 868px) {
  .Navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100vw;
  }

  .headings img {
    margin: 0;
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }

  .li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 6px;
  }

  .Modal {
    width: 75%;
    margin-top: 70px;
    font-size: 14px;
  }
  .dropdown {
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: none;
  }

  .ul {
    display: none;
    
  }

  .menuToggle {
    display: block;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }

  .ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
}
