.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  position: fixed;
  top: 0;
  right: -600px;
  width: 550px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: scroll;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.modalContainer::-webkit-scrollbar {
  width: 14px;
}

.modalContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.modalContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.modalContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.modalContainer.open {
  transform: translateX(-600px);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
}

.modalContainer h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

p {
  margin-left: 1rem;
}

.orderList {
  max-height: calc(100% - 220px);
  overflow: auto;
  padding: 0;
  margin-bottom: 120px;
}

.orderList::-webkit-scrollbar {
  width: 11px;
}

.orderList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.orderList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.orderList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

.sideModalImage {
  width: 100px;
  height: 70px;
  border-radius: 10px;
}

.listBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.listBox:hover {
  background-color: #f2fcfd;
  cursor: pointer;
}

.listBoxDescription {
  display: flex;
  align-items: center;
}
.listBoxDescription p {
  margin: 10px;
}

.cart {
  position: absolute;
  bottom: 60px;
  left: 10px;
  width: 90%;
  height: 15px;
  background-color: #2375cd;
  color: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.checkoutCart {
  position: absolute;
  bottom: 50px;
  width: 85%;
  height: 20px;
  background-color: #2375cd;
  color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}
.checkoutCart div {
  display: flex;
  align-items: center;
}

.number {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 21px;
  color: #2375cd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 200, 203);
  padding: 20px 30px;
  border-radius: 7px;
  width: 25%;
  height: 20px;
  font-weight: 500;
  font-size: 21px;
  color: #2375cd;
}

.quantity div {
  cursor: pointer;
}

.quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  color: #2375cd;
  font-size: 25px;
  padding: 7px;
  margin: 0 20px;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.loginPrompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginPrompt p {
  margin: 0 0 10px 0;
}

.loginPrompt button {
  padding: 8px 16px;
  background-color: rgb(178, 200, 203);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.loginPrompt button:hover {
  background-color: #2375cd;
}

@media (max-width: 810px) {
  .modalContainer {
    width: 60%;
  }

  .checkoutCart {
    width: 80%;
    bottom: 50px;
  }
}

@media (max-width: 600px) {
  .closeButton {
    top: 10;
    right: 20px;
  }
  .modalContainer {
    right: -600px;
    width: 90%;
    height: 100%;
    padding: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .liBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    flex-direction: column;
  }

  .quantity {
    padding: 10px 20px;
    border-radius: 7px;
    width: 60%;
    height: 20px;
    font-weight: 500;
    font-size: 21px;
    color: #2375cd;
    margin-top: 10px;
  }

  .checkoutCart {
    width: 80%;
    bottom: 70px;

    button {
      background-color: transparent;
    }
  }
}

@media (max-width: 450px) {
  .quantity {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .quantity {
    width: 80%;
  }
}
